.address-cardNew {
  width: 100%;
  border-radius: 10px;
  background: #fafafa;
  /* max-width: 700px; */
  /* margin: 15px auto; */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  /* font-family: Arial, sans-serif; */
  cursor: pointer;
  /* border: 1px solid red; */
}

.address-section,
.patient-section {
  width: 100%;
  padding: 20px 16px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}

.address-header,
.patient-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tag {
  background: #e6f0ff;
  color: #2563eb;
  font-size: 11px;
  font-weight: bold;
  border-radius: 12px;
  padding: 5px 8px;
  margin-right: 8px;
}

.title {
  flex: 1;
  font-size: 15px;
  font-weight: 600;
  color: #222;
  margin-left: 6px;
}
.icon {
  font-size: 18px;
  color: #555;
}
.address-details {
  font-size: 13px;
  color: #555;
  margin: 5px 0 0 0;
}
