.faq-container {
  width: 100%;
  margin: auto;
  padding: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  /* background-color: #f9f9f9; */
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.faq-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #007bff;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.faq-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  transition: all 0.3s ease;
}
.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  font-weight: 600;
  color: #333;
  transition: background 0.2s;
}
.faq-question:hover {
  background-color: #f0f4ff;
}

.faq-icon {
  font-size: 1rem;
  color: #007bff;
}
.faq-answer {
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease,
    padding 0.4s ease;
  background-color: #fff;
  padding: 0 1rem;
}
.faq-answer.open {
  max-height: 1000px;
  opacity: 1;
  transform: translateY(0);
  padding: 1rem;
}
.faq-answer p {
  margin: 0;
  color: #444;
  line-height: 1.6;
}
@media (max-width: 600px) {
  .faq-title {
    font-size: 1.5rem;
  }
  .faq-question {
    font-size: 0.95rem;
  }
}
