.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.modal {
  background: #fff;
  padding: 1.8rem;
  border-radius: 12px;
  width: 90%;
  max-width: 420px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.modal h3 {
  margin-bottom: 1rem;
  text-align: center;
}

.modal input,
.modal textarea{
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}
/* .modal-actions button{
  display: block;
  margin: 0 auto 2rem auto;
  padding: 12px 24px;
  background: linear-gradient(135deg, #0a74da, #0056b3);
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 12px 9px rgba(2, 77, 143, 0.3);
} */
.prescription-preview {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-top: 8px;
  border-radius: 8px;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;
}