.navbar-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  width: 100%;
  min-height: 40px;
}

.navbar-container,
.dropdown-menu {
  position: relative;
  z-index: 10;
}
.navbar-top{
  /* border: 1px solid red; */
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0.8rem 1.5rem;
  flex-wrap:wrap;
}
.navbar-logo{
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo-heading {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.2rem;
  color: #007bff;
  font-weight: 700;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #007bff, #00c9a7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeInLogo 2s ease-in-out;
  margin: 0;
}

@keyframes fadeInLogo {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.navbar-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.navbar-links a{
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.navbar-links a:hover {
  color: #007bff;
}
.user-dropdown-wrapper {
  position: relative;
  cursor: pointer;
}
.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 6px;
  color: #333;
  border-radius: 4px;
}
.user-info:hover{
  color: #007bff;
}
.user-dropdown {
  position: absolute;
  top: 32px;
  right: 0;
  width: 260px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 8px;
  z-index: 1099;
}
.user-dropdown p.user-name {
  color: #007bff;
  font-weight: 600;
  margin: 0;
}
.user-dropdown p.user-phone {
  color: gray;
  font-size: 14px;
  margin-bottom: 6px;
}
.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile-pic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #0ed017;
}
.user-dropdown a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 6px 0;
  font-size: 14px;
  transition: all 0.2s;
}
.user-dropdown a:hover {
  color: #007bff;
}
.user-dropdown hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #eee;
}
.icon-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-weight: 500;
  
}
.mobile-menu-toggle {
  display: none;
  gap: 1rem;
  align-items: center;
}
.dropdown-menu {
  display: none;
  flex-direction: column;
  background-color: #f9f9f9;
}
.dropdown-menu.open {
  display: flex;
}
.navbar-links-mobile {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
/* bottom navbar */
.navbar-bottom {
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
  background-color:#f8f8f8;
}
.nav-item {
  position:relative;
  margin: 0.5rem 1rem;
}
.nav-item a{
  text-decoration:none;
  color: #333;
  font-weight: 500;
}
.nav-item a:hover {
  color: #007bff;
}
.submenu {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 1.5rem;
  left: 0;
  line-height: 1rem;
  padding-top: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 200px;
}
.submenu p{
  padding-top: 10px;
}
.submenu>p:hover{
   color: #007bff;
}
.nav-item:hover .submenu {
  display: block;
}



.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: flex;
  }
  .navbar-bottom {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }
  .nav-item {
    margin: 0.5rem 0;
  }
  .submenu {
    position: relative;
    top: 0;
    left: 0;
    border: none;
    box-shadow: none;
    background-color: #eaeaea;
    padding: 0.5rem;
    display: none;
  }
  .nav-item:hover .submenu {
    display: block;
  }
}
@media (min-width: 769px) {
  .mobile-only {
    display: none;
  }
}