.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 20px;
  box-sizing: border-box;
}

@media(max-width:768px){
  .wrapper {
    padding: 0 0px;
    border-radius: 8px;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding: 0 0px;
  }
}
