.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 20px;
}

.page-button {
  padding: 8px 20px;
  background-color: #f0f0f0;
  color: #070303;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 12px 9px rgba(2, 77, 143, 0.3);
}

.page-button:hover {
  background-color: #e0e0e0;
}

.page-button.active {
 background: linear-gradient(135deg, #0056b3, #0a74da);
  color: #fff;
}

.page-button.active:hover {
  transform: translateY(-2px);
}

.page-button:disabled {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
}


.dots {
  padding: 8px 12px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
  user-select: none;
}

@media (max-width: 768px) {
  .page-button {
    padding: 6px 14px;
    font-size: 0.9rem;
  }
}